## Pandas 基础命令速查表
- 参考 :
    1. [速查表](https://www.heywhale.com/mw/project/59e389b54663f7655c48f518)
    2. [Pandas教程](https://www.yiibai.com/pandas)
- 缩写解释 & 库的导入
    1. df --- 任意的pandas DataFrame(数据框)对象
    2. s --- 任意的pandas Series(数组)对象
    3. pandas和numpy是用Python做数据分析最基础且最核心的库

In [1]:
import pandas as pd
import numpy as np

### 1. 数据的导入

- 数据的导入方式有以下几种 :

- pd.read_csv(filename) 导入csv格式文件中的数据
- pd.read_table(filename) 导入有分隔符的文本 (如TSV) 中的数据
- pd.read_excel(filename) 导入Excel格式文件中的数据
- pd.read_sql(query, connection_object) 导入SQL数据表/数据库中的数据
- pd.read_json(json_string) 导入JSON格式的字符，URL地址或者文件中的数据
- pd.read_html(url) 导入经过解析的URL地址中包含的数据框 (DataFrame) 数据
- pd.read_clipboard() 导入系统粘贴板里面的数据
- pd.DataFrame(dict)  导入Python字典 (dict) 里面的数据，其中key是数据框的表头，value是数据框的内容。

#### 1.1 pd.read_csv()

- 作用 : 读取CSV格式的数据
- 参数 :
    1. filepath_or_buffer : 文件路径, 支持 ftp 文件
    2. sep : 分隔符, 默认为 ,
    3. header : 文件中, 要作为字段的行的行号, 默认 header=0, 如果数据中没有行, 设置 header = None
    4. names: 字段名, 值为 ['字段1', '字段2', '字段3']
    5. index_col : 要作为行标签的列, 等价于 header

In [2]:
CSV_PATH = '../data/可视化数据集/iris.csv'
iris = pd.read_csv(CSV_PATH, sep=',')
iris[:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 2. 数据的导出

- [read_csv和to_csv参数详解](https://blog.csdn.net/u010801439/article/details/80033341/)

- df.to_csv(filename) 将数据框 (DataFrame)中的数据导入csv格式的文件中
- df.to_excel(filename) 将数据框 (DataFrame)中的数据导入Excel格式的文件中
- df.to_sql(table_name,connection_object) 将数据框 (DataFrame)中的数据导入SQL数据表/数据库中
- df.to_json(filename) 将数据框 (DataFrame)中的数据导入JSON格式的文件中

#### 2.1 df.to_csv()

- 作用 : 将文件保存为CSV文件
- 参数 :
    1. path_or_buf 输出文件路径
    2. sep 设置分隔符
    3. na_rep 替换空值
    4. header 是否保留列名 , header=0 表示不保存列名
    5. index 是否保留行索引
    6. cols 是否保留某列数据 (columns=['name'])
    7. index 是否写入列名, 默认为 True

In [3]:
iris.to_csv('../to_data/iris_01.csv',
            sep=';', na_rep='?', header=0)

### 3. 创建测试数据

- pd.DataFrame() 创建DataFrame
    1. column : 值为list, 用于指定 DataFrame 的列名
- pd.Series() 创建Series
- 添加一个日期索引 index
    1. df.index = pd.date_range('2017/1/1', periods=df.shape[0])

In [4]:
# 创建一个 5行5列的数据
pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'])

          a         b         c         d         e
0 -0.312884 -2.605384  0.918075 -1.498632  0.233821
1  0.671914 -1.500436  0.311025  1.704157  2.137811
2 -1.853025  0.264112 -1.060433  0.834414  0.870616
3 -0.378416 -0.135969 -0.263779  1.060152  2.415423
4 -0.321319  0.032048  0.561052  0.716224 -0.204779

In [5]:
# 从一个可迭代对象中创建一个 Series
my_list = ['Lab109', 100, '大家好']
pd.Series(my_list)

0    Lab109
1       100
2       大家好
dtype: object

#### 3.1 创建数字索引

In [6]:
# 添加日期索引

df_data = pd.DataFrame(np.random.randn(5, 4))
df_data.index = pd.date_range('2021/12/21', periods=df_data.shape[0])
df_data

                   0         1         2         3
2021-12-21  1.168280  0.937801 -0.956634  0.524013
2021-12-22 -0.192226  1.006658 -0.658646 -1.428377
2021-12-23 -1.203570  1.410060  0.407651  0.956409
2021-12-24  0.644388  0.988389  0.823899 -1.474123
2021-12-25  2.580594 -0.735692  1.725934 -0.087424

### 4. 数据的查看与检查

- df.head(n) 查看前 n 行的数据
- df.tail(n) 查看后 n 行的数据
- df.shape 查看数据框的行数与列数
- df.info() 查看数据框 (DataFrame) 的索引、数据类型及内存信息
- df.describe() 对于数据类型为数值型的列，查询其描述性统计的内容
- s.value_counts(dropna=False) 查询每个独特数据值出现次数统计
- df.apply(pd.Series.value_counts) 查询数据框 (Data Frame) 中每个列的独特数据值出现次数统计

In [7]:
df = pd.DataFrame(np.random.randn(5, 5))

# 查看数据的前 n 行
df.head()  # 默认是前5行

          0         1         2         3         4
0 -0.939491 -0.584163 -0.059478  0.719018  0.500074
1  0.175181 -0.804781 -0.352492  1.262346  0.297442
2 -0.037358  0.115162 -0.000692 -1.220388 -1.151031
3  0.998866 -0.550559  1.303959 -0.977649 -1.120142
4  1.732517  0.087451  1.061759 -0.750040  0.931477

In [8]:
df.head(3)

          0         1         2         3         4
0 -0.939491 -0.584163 -0.059478  0.719018  0.500074
1  0.175181 -0.804781 -0.352492  1.262346  0.297442
2 -0.037358  0.115162 -0.000692 -1.220388 -1.151031

In [9]:
# 查看数据的最后 n 行
df.tail(4)

          0         1         2         3         4
1  0.175181 -0.804781 -0.352492  1.262346  0.297442
2 -0.037358  0.115162 -0.000692 -1.220388 -1.151031
3  0.998866 -0.550559  1.303959 -0.977649 -1.120142
4  1.732517  0.087451  1.061759 -0.750040  0.931477

In [10]:
# 查看数据的行数和列数
df.shape

(5, 5)

In [11]:
# 查看数据框 (DataFrame) 的索引、数据类型及内存信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
 4   4       5 non-null      float64
dtypes: float64(5)
memory usage: 328.0 bytes

In [12]:
# 对于数据类型为数值型的列，查询其描述性统计的内容
# std 表示标准差
df.describe()

              0         1         2         3         4
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.385943 -0.347378  0.390611 -0.193343 -0.108436
std    1.020945  0.421185  0.740362  1.110327  0.965271
min   -0.939491 -0.804781 -0.352492 -1.220388 -1.151031
25%   -0.037358 -0.584163 -0.059478 -0.977649 -1.120142
50%    0.175181 -0.550559 -0.000692 -0.750040  0.297442
75%    0.998866  0.087451  1.061759  0.719018  0.500074
max    1.732517  0.115162  1.303959  1.262346  0.931477

In [13]:
s = pd.Series([1, 2, 3, 1, 1, 2, 4, np.nan, 5, 5, 5, 6, 7])
# 查询每个独特数据值出现次数统计
# dropna : 是否包括 nan 的统计
s.value_counts(dropna=False)

1.0    3
5.0    3
2.0    2
3.0    1
4.0    1
NaN    1
6.0    1
7.0    1
dtype: int64

In [14]:
# 查询数据框 (Data Frame) 中每个列的独特数据值出现次数统计
# apply 方法中需要传入函数, df的 每一行 Series 都会被作为 参数传入
df.apply(pd.Series.value_counts)

             0    1    2    3    4
-1.220388  NaN  NaN  NaN  1.0  NaN
-1.151031  NaN  NaN  NaN  NaN  1.0
-1.120142  NaN  NaN  NaN  NaN  1.0
-0.977649  NaN  NaN  NaN  1.0  NaN
-0.939491  1.0  NaN  NaN  NaN  NaN
-0.804781  NaN  1.0  NaN  NaN  NaN
-0.750040  NaN  NaN  NaN  1.0  NaN
-0.584163  NaN  1.0  NaN  NaN  NaN
-0.550559  NaN  1.0  NaN  NaN  NaN
-0.352492  NaN  NaN  1.0  NaN  NaN
-0.059478  NaN  NaN  1.0  NaN  NaN
-0.037358  1.0  NaN  NaN  NaN  NaN
-0.000692  NaN  NaN  1.0  NaN  NaN
 0.087451  NaN  1.0  NaN  NaN  NaN
 0.115162  NaN  1.0  NaN  NaN  NaN
 0.175181  1.0  NaN  NaN  NaN  NaN
 0.297442  NaN  NaN  NaN  NaN  1.0
 0.500074  NaN  NaN  NaN  NaN  1.0
 0.719018  NaN  NaN  NaN  1.0  NaN
 0.931477  NaN  NaN  NaN  NaN  1.0
 0.998866  1.0  NaN  NaN  NaN  NaN
 1.061759  NaN  NaN  1.0  NaN  NaN
 1.262346  NaN  NaN  NaN  1.0  NaN
 1.303959  NaN  NaN  1.0  NaN  NaN
 1.732517  1.0  NaN  NaN  NaN  NaN

In [15]:
def func(s):
    print(s)
    return s


df_01 = pd.DataFrame([[1, 2, 3], [3, 4, 5]])
print(df_01)

df_01.apply(func)

   0  1  2
0  1  2  3
1  3  4  5
0    1
1    3
Name: 0, dtype: int64
0    2
1    4
Name: 1, dtype: int64
0    3
1    5
Name: 2, dtype: int64

   0  1  2
0  1  2  3
1  3  4  5

### 5.数据的选取

- df[col] # 以数组 Series 的形式返回选取的列
- df[ [col1, col2] ] # 以新的数据框(DataFrame)的形式返回选取的列
- s.iloc[0] # 按照位置选取
- s.loc['index_one'] # 按照行索引选取
- df.iloc[0,:] # 选取第一行
- df.iloc[0,0] # 选取第一行的第一个元素

In [16]:
df = pd.DataFrame(np.random.randn(5, 3), columns=list('ABC'))
df

          A         B         C
0 -0.851561 -1.099211 -0.119279
1 -0.553029 -0.674903 -2.276451
2 -0.315307  0.929153 -0.444196
3 -0.106458  0.112211 -0.552699
4 -0.386204  0.830301  0.381158

In [17]:
df['A']  # 以数组 Series 的形式返回选取的列

0   -0.851561
1   -0.553029
2   -0.315307
3   -0.106458
4   -0.386204
Name: A, dtype: float64

In [18]:
df[['A', 'B']]  # 以新的数据框(DataFrame)的形式返回选取的列

          A         B
0 -0.851561 -1.099211
1 -0.553029 -0.674903
2 -0.315307  0.929153
3 -0.106458  0.112211
4 -0.386204  0.830301

In [19]:
# 按照位置选取 下标从0开始
df.iloc[0]

A   -0.851561
B   -1.099211
C   -0.119279
Name: 0, dtype: float64

In [20]:
df.iloc[0, :]

A   -0.851561
B   -1.099211
C   -0.119279
Name: 0, dtype: float64

In [21]:
# df.iloc 是基于整数位置的选择数据, df.loc 是基于索引选择数据
df.iloc[0, 0]

-0.8515614699977866

In [22]:
#
s = pd.Series(np.array(['I', 'Love', 'Data']), index=['a', 'b', 'c'])
s

a       I
b    Love
c    Data
dtype: object

In [23]:
# 按照行索引选取
s.loc['a']

'I'

### 6. 数据清洗

- df.columns = ['a','b'] 重命名 DataFrame 的列名称
- pd.isnull() 检查数据中空值出现的情况，并返回一个由布尔值(True,False)组成的列
- pd.notnull() 检查数据中非空值出现的情况，并返回一个由布尔值(True,False)组成的列
- df.dropna() # 移除数据框 DataFrame 中包含空值的行
- df.dropna(axis=1) # 移除数据框 DataFrame 中包含空值的列
    1. axis = 0 表示行, axis = 1表示列
    2. thresh = n 这一行(列)除去NA值，剩余数值的数量大于等于n，便显示这一行。
- df.fillna(x) 将数据框 DataFrame 中的所有空值替换为 x
- s.fillna(s.mean()) -> 将所有空值替换为平均值
- s.astype(float) # 将数组(Series)的格式转化为浮点数
- s.replace(1,'one') # 将数组(Series)中的所有1替换为'one'
- s.replace([1,3],['one','three']) # 将数组(Series)中所有的1替换为'one', 所有的3替换为'three'
- df.rename(columns=lambda x: x + 2) # 将全体列重命名
- df.rename(columns={'old_name': 'new_ name'}) # 将选择的列重命名
- df.set_index('column_one') # 改变索引
- df.rename(index = lambda x: x+ 1) # 改变全体索引

In [24]:
df = pd.DataFrame(np.random.randn(5, 3), columns=['A', 'B', 'C'])
df

          A         B         C
0 -1.146763 -0.636090  0.627193
1 -0.191204  2.283463 -0.190570
2  1.532628  0.707390 -0.308584
3  1.234924  1.439088  0.538887
4  0.231190  0.951928 -1.837572

In [25]:
# 重命名 DataFrame 的列名
df.columns = ['D', 'E', 'F']
df

          D         E         F
0 -1.146763 -0.636090  0.627193
1 -0.191204  2.283463 -0.190570
2  1.532628  0.707390 -0.308584
3  1.234924  1.439088  0.538887
4  0.231190  0.951928 -1.837572

In [26]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                          'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                          'C':'foo'})
df.columns = ['a', 'b', 'c']
df

     a    b    c
0  1.0  NaN  foo
1  NaN  4.0  foo
2  2.0  NaN  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5  NaN  NaN  foo

In [27]:
#  检查数据中空值出现的情况，并返回一个由布尔值(True,Fale)组成的列
df.isnull()

       a      b      c
0  False   True  False
1   True  False  False
2  False   True  False
3  False  False  False
4  False  False  False
5   True   True  False

In [28]:
# 检查数据中非空值出现的情况，并返回一个由布尔值(True,False)组成的列
df.notnull()

       a      b     c
0   True  False  True
1  False   True  True
2   True  False  True
3   True   True  True
4   True   True  True
5  False  False  True

In [29]:
# 移除 DataFrame 中包含空值的行
df.dropna()

     a    b    c
3  3.0  5.0  foo
4  6.0  9.0  foo

In [30]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                   'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                   'C':'foo'})
# 移除所有包含空值的列, (axis = 0 , 表示行, axis = 1表示列)
df.dropna(axis=1)

     C
0  foo
1  foo
2  foo
3  foo
4  foo
5  foo

In [31]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                   'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                   'C':'foo'})
# thresh = n 这一行(列)除去NA值，剩余数值的数量大于等于n，便显示这一行。
res = df.dropna(axis=1, thresh=1)
res

     A    B    C
0  1.0  NaN  foo
1  NaN  4.0  foo
2  2.0  NaN  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5  NaN  NaN  foo

In [33]:
# 将 DataFrame 中所有 NaN 值替换 为 a
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                   'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                   'C':'foo'})
df.fillna('a')

     A    B    C
0  1.0    a  foo
1    a  4.0  foo
2  2.0    a  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5    a    a  foo

In [34]:
# 将所有 Nan 替换为平均值
s = pd.Series([1,3,5,np.nan,7,9,9])
s.fillna(s.mean())

0    1.000000
1    3.000000
2    5.000000
3    5.666667
4    7.000000
5    9.000000
6    9.000000
dtype: float64

In [42]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                   'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                   'C':'foo'})
# 替换掉所列的空值
df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())
df

     A    B    C
0  1.0  6.0  foo
1  3.0  4.0  foo
2  2.0  6.0  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5  3.0  6.0  foo

In [44]:
s = pd.Series([1,3,5,np.nan,7,9,9])
s.astype(float) # 将数组(Series)的格式转化为浮点数

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
6    9.0
dtype: float64

In [46]:
s.replace(1, 'one') # 将数组(Series)中的所有1替换为'one'
s.replace([1,3],['one','three']) # 将数组(Series)中所有的1替换为'one', 所有的3替换为'three'

0      one
1    three
2      5.0
3      NaN
4      7.0
5      9.0
6      9.0
dtype: object

In [47]:
df = pd.DataFrame(np.random.rand(4,4))
df.rename(columns=lambda x: x + 2) # 将全体列重命名

          2         3         4         5
0  0.137643  0.310225  0.053487  0.641953
1  0.938120  0.778245  0.186552  0.130426
2  0.768260  0.971260  0.839564  0.296773
3  0.118184  0.054985  0.245248  0.871673

In [49]:
# 将选择的列重命名
df = pd.DataFrame(np.random.rand(10,5), columns=list('ABCDE'))
# 对指定的列重命名
df.rename(columns={'A':'newA', 'B': 'newB'})

       newA      newB         C         D         E
0  0.719982  0.798899  0.188485  0.300296  0.168025
1  0.620828  0.948675  0.262087  0.657669  0.756906
2  0.688549  0.616052  0.586672  0.711546  0.217273
3  0.054476  0.948499  0.506779  0.751272  0.297190
4  0.222479  0.814188  0.047982  0.707307  0.541272
5  0.391293  0.066912  0.038264  0.850547  0.036608
6  0.344369  0.634572  0.707706  0.082860  0.533568
7  0.879931  0.971079  0.084357  0.036932  0.276375
8  0.536132  0.313116  0.027623  0.609440  0.990965
9  0.937819  0.239814  0.035056  0.789736  0.203807

In [50]:
df = pd.DataFrame(np.random.rand(10,5),columns=list('ABCDE'))
df.set_index('B') # 修改索引

                 A         C         D         E
B
0.117775  0.726735  0.499775  0.204443  0.093480
0.877599  0.178814  0.745478  0.461468  0.256734
0.159821  0.650944  0.721589  0.109509  0.003733
0.495556  0.877354  0.064542  0.105476  0.338001
0.459929  0.843181  0.762050  0.968186  0.425581
0.985184  0.395600  0.276990  0.624619  0.303024
0.625228  0.418077  0.833811  0.814423  0.075579
0.074651  0.249929  0.968672  0.179414  0.487354
0.680098  0.725908  0.440879  0.261562  0.696148
0.476911  0.325517  0.155946  0.904903  0.036314

In [52]:
# 改变全体索引
df = pd.DataFrame(np.random.rand(10,5))
# x 是原本的索引
df.rename(index=lambda x:x + 2)

           0         1         2         3         4
2   0.313998  0.961177  0.376092  0.340574  0.771604
3   0.259074  0.888839  0.604553  0.493240  0.999108
4   0.039094  0.630973  0.093215  0.280661  0.811692
5   0.083129  0.200757  0.125179  0.616034  0.643784
6   0.165800  0.131924  0.446833  0.515345  0.627674
7   0.928184  0.861180  0.127059  0.181805  0.478863
8   0.804090  0.844562  0.427590  0.167332  0.797088
9   0.434780  0.216332  0.739847  0.975717  0.683823
10  0.132682  0.537504  0.136698  0.327971  0.047879
11  0.289490  0.798948  0.721384  0.736329  0.908015

In [54]:
# 改变全体索引
df = pd.DataFrame(np.random.rand(10,5))

def set_index(x):
    return 'X' + str(x)
# 使用函数改变索引
df.rename(index=set_index)

           0         1         2         3         4
X0  0.279345  0.307144  0.861522  0.745992  0.814656
X1  0.662414  0.562437  0.755178  0.843180  0.629130
X2  0.464030  0.676274  0.341644  0.041449  0.739156
X3  0.908554  0.288790  0.628607  0.934860  0.924915
X4  0.875423  0.849251  0.601324  0.637366  0.149583
X5  0.501748  0.775775  0.457834  0.930926  0.988907
X6  0.672602  0.997636  0.854408  0.444978  0.063946
X7  0.333386  0.694127  0.441451  0.706761  0.202330
X8  0.248779  0.633732  0.457904  0.187928  0.103876
X9  0.299806  0.043185  0.566556  0.232371  0.741846

### 7. 数据的过滤排序分组

- 参考 : [pandas分组](https://www.yiibai.com/pandas/python_pandas_groupby.html)

In [60]:
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
# 选取数据框df中对应行的数值大于0.5的全部列
df

          A         B         C         D         E
0  0.074564  0.173089  0.310318  0.448325  0.530290
1  0.889044  0.805542  0.031188  0.730520  0.271142
2  0.670745  0.171509  0.619422  0.345482  0.238318
3  0.165640  0.521203  0.193020  0.137694  0.620836
4  0.252799  0.249926  0.677956  0.679298  0.058705
5  0.101080  0.491971  0.406330  0.330202  0.884337
6  0.659570  0.668277  0.871970  0.542167  0.184761
7  0.730745  0.404169  0.563231  0.830918  0.267793
8  0.860192  0.793930  0.140482  0.239572  0.612324
9  0.095764  0.876313  0.375814  0.792578  0.336265

In [61]:
# df 中, A 列, 某一行的数据小于0.5, 直接过滤掉
df[df['A'] > 0.5]

          A         B         C         D         E
1  0.889044  0.805542  0.031188  0.730520  0.271142
2  0.670745  0.171509  0.619422  0.345482  0.238318
6  0.659570  0.668277  0.871970  0.542167  0.184761
7  0.730745  0.404169  0.563231  0.830918  0.267793
8  0.860192  0.793930  0.140482  0.239572  0.612324

In [69]:
# 使用 lambda 表达式展示更好理解 x 是 df, 而不是某一列
df[lambda x : x['A'] > 0.5]

          A         B         C         D         E
1  0.889044  0.805542  0.031188  0.730520  0.271142
2  0.670745  0.171509  0.619422  0.345482  0.238318
6  0.659570  0.668277  0.871970  0.542167  0.184761
7  0.730745  0.404169  0.563231  0.830918  0.267793
8  0.860192  0.793930  0.140482  0.239572  0.612324

In [71]:
df = pd.DataFrame(np.random.rand(10,5), columns=list('ABCDE'))
# 选取数据框df中对应行的数值大于0.5，并且小于0.7的全部列
df[ (df['A'] > 0.5) & (df['B'] < 0.7) ]

          A         B         C         D         E
0  0.515351  0.689226  0.979497  0.063579  0.487165
2  0.612784  0.666182  0.921618  0.388245  0.269298
6  0.829274  0.272381  0.585577  0.656040  0.111317
8  0.971148  0.610528  0.962081  0.771231  0.944828

In [74]:
# 按照数据框的列col1升序(ascending)的方式对数据框df做排序
df = pd.DataFrame(np.random.rand(10,5), columns=list('ABCDE'))
df.sort_values('A', ascending=False) # 降序排列

          A         B         C         D         E
0  0.888330  0.603035  0.659918  0.162525  0.500268
7  0.776733  0.866374  0.849925  0.575070  0.973827
9  0.710363  0.831911  0.994461  0.787840  0.541760
1  0.702547  0.019896  0.730346  0.586500  0.026876
8  0.626113  0.069153  0.741421  0.589719  0.644050
2  0.615088  0.898678  0.094520  0.651045  0.558979
5  0.259449  0.297758  0.947702  0.047345  0.768877
4  0.252362  0.244180  0.463837  0.205838  0.449103
3  0.088813  0.219015  0.078327  0.296661  0.605756
6  0.057254  0.126258  0.004850  0.372228  0.256033

In [75]:
# 按照数据框的列col1升序(ascending)的方式对数据框df做排序
df = pd.DataFrame(np.random.rand(10,5), columns=list('ABCDE'))
df.sort_values(['A', 'B'], ascending=[False, True]) # A 降序排列, B 升序排列

          A         B         C         D         E
0  0.964702  0.093242  0.883218  0.742030  0.867468
5  0.924180  0.219270  0.724050  0.821124  0.324477
2  0.723776  0.814935  0.095015  0.419248  0.339019
1  0.677058  0.208350  0.474071  0.981536  0.906281
3  0.585830  0.081480  0.346808  0.570277  0.114006
8  0.493609  0.151192  0.303007  0.319556  0.666148
7  0.348111  0.627642  0.788758  0.631143  0.888188
4  0.244802  0.525789  0.141775  0.564829  0.658646
9  0.191430  0.228429  0.636259  0.315248  0.614107
6  0.008442  0.207579  0.051137  0.288593  0.929660

In [89]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
                     'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
            'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017]}


df = pd.DataFrame(data)
df

      Team  Rank  Year
0   Riders     1  2014
1   Riders     2  2015
2   Devils     2  2014
3   Devils     3  2015
4    Kings     3  2014
5    kings     4  2015
6    Kings     1  2016
7    Kings     1  2017
8   Riders     2  2016
9   Royals     4  2014
10  Royals     1  2015
11  Riders     2  2017

In [95]:
# 查看分组, 返回类型为 字典类型
print(df.groupby(['Team']).groups)

# 多列分组
#  例如 : ('Kings', 1): [6, 7] : Team = King, Rank = 1 的在分组为 [6,7]两行
print(df.groupby(['Team', 'Team']).groups)

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}
{('Devils', 2): [2], ('Devils', 3): [3], ('Kings', 1): [6, 7], ('Kings', 3): [4], ('Riders', 1): [0], ('Riders', 2): [1, 8, 11], ('Royals', 1): [10], ('Royals', 4): [9], ('kings', 4): [5]}

In [104]:
# 理解分组 :
print("以 Team 列为分组 :")
print(df.groupby(['Team']).groups)
print("对每个分组统计组内有多少行数据 : ")
# 如下 : 分组列表 Devils [2,3] count=>2 , Kings [4,6,7] => 3
print(df.groupby('Team').count())
# 分组求均值 , 比如 : Devils [2,3] , Rank列值分别是 2,3 平均值是 2.5, Year值分别是 2014和2015, 均值为 2014.5
print(df.groupby('Team').mean())

以 Team 列为分组 :
{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}
对每个分组统计组内有多少行数据 :
        Rank  Year
Team
Devils     2     2
Kings      3     3
Riders     4     4
Royals     2     2
kings      1     1
            Rank         Year
Team
Devils  2.500000  2014.500000
Kings   1.666667  2015.666667
Riders  1.750000  2015.500000
Royals  2.500000  2014.500000
kings   4.000000  2015.000000

In [109]:
# 迭代遍历分组
groups = df.groupby('Team')

for name, group in groups:
    print("name :", name)
    print("group : \n", group)
    print()

name : Devils
group :
      Team  Rank  Year
2  Devils     2  2014
3  Devils     3  2015

name : Kings
group :
     Team  Rank  Year
4  Kings     3  2014
6  Kings     1  2016
7  Kings     1  2017

name : Riders
group :
       Team  Rank  Year
0   Riders     1  2014
1   Riders     2  2015
8   Riders     2  2016
11  Riders     2  2017

name : Royals
group :
       Team  Rank  Year
9   Royals     4  2014
10  Royals     1  2015

name : kings
group :
     Team  Rank  Year
5  kings     4  2015

In [110]:
# 选择分组
groups = df.groupby('Team')
groups.get_group('Riders')

      Team  Rank  Year
0   Riders     1  2014
1   Riders     2  2015
8   Riders     2  2016
11  Riders     2  2017

In [114]:
df = pd.DataFrame({'A':np.array(['foo','foo','foo','foo','bar','bar']),
                   'B':np.array(['one','one','two','two','three','three']),
                   'C':np.array(['small','medium','large','large','small','small']),
                   'D':np.array([1,2,2,3,3,5])})
# df.groupby(col1)[col2].mean() 按照列col1对数据框df做分组处理后，返回对应的col2的平均值
print(df.groupby('B')['D'].groups)
print(df.groupby('B')['D'].mean())

{'one': [0, 1], 'three': [4, 5], 'two': [2, 3]}
B
one      1.5
three    4.0
two      2.5
Name: D, dtype: float64

In [117]:
df = pd.DataFrame({'A':np.array(['foo','foo','foo','foo','bar','bar']),
                   'B':np.array(['one','one','two','two','three','three']),
                   'C':np.array(['small','medium','large','large','small','small']),
                   'D':np.array([1,2,2,3,3,5])})
df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [ ]:
# 做透视表，索引为col1,针对的数值列为col2和col3，分组函数为平均值
# df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)
df.pivot_table(df, index=['A', 'B'], columns=['C'])